<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>动态-音频重写</title>
    <link rel="stylesheet" href="../../../css/publicCss.css">
    <link rel="stylesheet" href="../../../css/frameDetail.css">
    <style>
        .wave {
            width: 100%;
            height: 120px;
            margin-bottom: 30px;
        }
        .wave img {
            width: calc(100% - 130px);
            padding: 40px 70px 40px 60px;
            height: 100%;
        }

        .ypTimeP {
            width: 100%;
            float: right;
            font-size: 2rem !important;
            color: #999 !important;
            text-align: center;
            padding-top: 24px !important;
            padding-right: 15px;
        }

        .startimg {
            width: 100%;
            text-align: center;
            height: auto;
            margin-top: 0;
            margin-bottom: 20px;
            float: left;
        }

        .startimg img {
            width: 80px;
            height: 80px;
            float: none;
        }

        .scyinpin {
            width: 100% !important;
            padding: 0;
            text-align: center;
            float: left;
            margin-left: 0;
        }

        .ypRange {
            width: 100% !important;
        }

        .bottomdiv {
            border: #ededed 1px solid;
            height: auto;
            display: inline-block;
            width: calc(100% - 50px);
            margin-left: 25px;
            margin-left: 25px;
        }
        .xzt_content {
            border: 0;
            height: calc(100% - 10px)
        }
        .content {
            border: 0;
        }
        .pdf {
            padding-top: 120px;
            text-align: center
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="xzt_content" v-cloak="">
    <ul v-if="!(isConvert=='0' || convertStatus == '1')" style="margin-top: 20px">
        <li class="tixing clearfix">
            <div class="tihao" v-text="(index+1)+'.'"></div>
            <div class="tixingzi" v-if="material.ytlx!=3"
                 v-text="material.zyqf != 1?'【'+material.txstr+'】':'【素材】'"></div>
            <!--<div class="tixingzi" v-if="material.ytlx==3">【学习单】</div>-->
        </li>
    </ul>
    <div class="pdf" v-if="!(isConvert=='0' || convertStatus == '1')">
        <img  class="noImgClick" v-if="convertStatus == 0" src="../../../image/newhomework/zhuanma.gif">
        <img  class="noImgClick" v-if="convertStatus == 2" src="../../../image/newhomework/shibai.png">
        <p style="margin-top: 20px"  v-text="getconvert(convertStatus)"></p>
    </div>
    <div v-if="isConvert=='0' || convertStatus == '1' " class="content">
        <div class="stem">
            <ul>
                <li class="tixing clearfix">
                    <div class="tihao" v-text="(index+1)+'.'"></div>
                    <div class="tixingzi" v-if="material.ytlx!=3"
                         v-text="material.zyqf != 1?'【'+material.txstr+'】':'【素材】'"></div>
                    <!--<div class="tixingzi" v-if="material.ytlx==3">【学习单】</div>-->
                </li>
            </ul>
            <div class="tg_content font666" v-html="data.title"></div>
            <div class="bottomdiv">
                <div class="wave">
                    <img :src="isplayed == 0 ? '../../../image/video/wavewave.png' : '../../../image/video/wave.gif' "
                         alt="">
                </div>
                <div>
                    <p class="ypTimeP" v-text="pasttime + ' / ' + getOutTime(filetime)"></p>
                </div>
                <div class="scyinpin clearfix">
                    <div class="ypRange"><input oninput="vm.monitorRange(event)" class="myRange" type="range" min="0" value="0" :max='filetime'></div>
                    <audio class="hideenAudio" :src='url'></audio>
                </div>
                <div class="startimg">
                    <img class="scyp2 noImgClick" :playStatus='2' onclick="vm.studentRecord(this);"
                         :src="isplayed == 0 ? '../../../image/video/startPlay.png' : '../../../image/video/stop.png' "
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/12XueApi_SDK.js"></script>
<script type="text/javascript" src="../../../script/12XueApi_Router.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../../script/vue.js"></script>
<script type="text/javascript">
    var apiObj = new GridOpenApi(UrlDomain, source, version);
    apiObj.SetAuthToken($api.getStorage('token'));
    var vm;
    var allTimes = 0;//音频播放
    var sec = 0;
    var timer = null;

    var audioStreamer;
    var downloadUrl = '';
    var downloadFinshed = '0';
    var playStatus;
    apiready = function () {
//        if (api.pageParam.isConvert == '0' || api.pageParam.convertStatus == '1') {
            vue();
            audioStreamer = api.require('audioStreamer');
            vm.GetMaterialInfo();
        api.addEventListener({//viewdisappear
            name: 'pause'
        }, function (ret, err) {
            api.sendEvent({
                name: 'yinpinCLose'
            });
        });
        api.addEventListener({// 滑动暂停音频
            name: 'yinpinCLose'
        }, function (ret, err) {
            if ($api.domAll('.scyp2').length >= 1) {
                if ($('.scyp2').attr('playStatus') == 1) {
                    $api.attr($api.dom('.scyp2'), 'playStatus', '2');
                }
                vm.isplayed = '0';
                clearInterval(timer);
                audioStreamer.pause();
            }
            api.stopPlay();
        });
//        } else if (api.pageParam.convertStatus == '2') {
//            alert('转码失败！');
//        } else {
//            alert('资源正在转码,请三分钟后回来');
//        }
    };

    function vue() {
        vm = new Vue({
            el: '.xzt_content',
            data: {
                index: api.pageParam.index,//当前frame的索引
                url: '',
                filetime: '',
                pasttime: '00:00',//已播放的时间
                isplayed: '0',//是否正在播放
                material: api.pageParam.material,//当前习题资料
                data: [],//作业详情,
                zyid:api.pageParam.zyid,
                isConvert: api.pageParam.isConvert,
                convertStatus: api.pageParam.convertStatus,
                path: '',
            },
            updated: function () {
            },
            methods: {
                getconvert: function (convert_status) {
                    if (convert_status == 0) {
                        return '资源正在转码,请三分钟后回来';
                    }
                    else if (convert_status == 2) {
                        return '资源转码失败';
                    }
                },
                monitorRange: function (event) {
                    var range = $api.dom('.myRange');
                    var recodetime = vm.filetime;
                    sec = parseInt(event.target.value);
                    allTimes = parseInt(recodetime - sec);
                    var bfb = sec / recodetime * 100;
                    bfb = bfb.toFixed(2);
                    var ss = 'background-size: ' + bfb + '% 100%';
                    $api.css($api.dom('.myRange'), ss);
                    range.value = sec;
                    var time = vm.getOutTime(allTimes);
                    //$api.text($api.dom('.ypTimeP'), time);
                    vm.pasttime = vm.getOutTime(sec);
                    seekToTime(sec);
                },
                studentRecord: function (context) {
                    playStatus = $api.attr(context, 'playStatus');
                    var recodetime = vm.filetime;  // 获取一下  filetime
                    var range = $api.dom('.myRange');
                    var bfb;
                    var timestamp = new Date().getTime();
                    if (downloadFinshed == '0') {
                        api.showProgress({
                            title: '正在加载资源',
                            text: '请稍后...',
                            modal: true
                        });
                        api.download({
                            url: vm.url,
                            savePath: 'fs://mp3s/' + timestamp.toString() + vm.path ,
                            report: true,
                            cache: true,
                            allowResume: false
                        }, function (ret, err) {
                            if (ret.state == 1) {
                                api.hideProgress();
                                downloadUrl = ret.savePath;
                                downloadFinshed = '1';
                                openPlayer(downloadUrl);
                                $api.attr(context, 'playStatus', '1');
                                vm.isplayed = '1';
                                //resume(downloadUrl);
                                if (sec == 0) {
                                    allTimes = recodetime;
                                }
                                else {
                                    setTimeout(function () {
                                        seekToTime(sec);
                                    }, 1000);
                                }
                                $api.attr($api.dom('.scyp2'), 'src', '../../../image/stop.png');
                                timer = setInterval(function (e) {
                                    sec = sec + 1;
                                    allTimes = allTimes - 1;
                                    bfb = sec / recodetime * 100;
                                    bfb = bfb.toFixed(2);
                                    var ss = 'background-size: ' + bfb + '% 100%';
                                    if (allTimes == 0 || sec >= recodetime) {
                                        $api.attr(context, 'playStatus', '2');
                                        clearInterval(timer);
                                        $api.attr($api.dom('.scyp2'), 'src', '../../../image/startPlay.png');
                                        var time = vm.getOutTime(recodetime);
                                        //$api.text($api.dom('.ypTimeP'), time);
                                        $api.css($api.dom('.myRange'), 'background-size: 0% 100%');
                                        range.value = 0;
                                        audioStreamer.pause();
                                        vm.isplayed = '0';
                                        sec = 0;
                                        vm.pasttime = vm.getOutTime(0);
                                    } else {
                                        range.value = sec;
                                        var time = vm.getOutTime(allTimes);
                                        $api.css($api.dom('.myRange'), ss);
                                        //$api.text($api.dom('.ypTimeP'), time);
                                        vm.pasttime = vm.getOutTime(sec);
                                    }
                                }, 1000);
                            }
                        });
                    }
                    else {
                        if (sec == 0) {
                            audioStreamer.stop();
                            openPlayer(downloadUrl);
                        }
                        if (playStatus == '1') {//暂停
                            $api.attr(context, 'playStatus', '2');
                            vm.isplayed = '0';
                            $api.attr($api.dom('.scyp2'), 'src', '../../../image/startPlay.png');
                            clearInterval(timer);
                            audioStreamer.pause();
                        } else {//播放
                            $api.attr(context, 'playStatus', '1');
                            vm.isplayed = '1';
                            resume(downloadUrl);
                            if (sec == 0) {
                                allTimes = recodetime;
                            }
                            $api.attr($api.dom('.scyp2'), 'src', '../../../image/stop.png');
                            timer = setInterval(function (e) {
                                sec = sec + 1;
                                allTimes = allTimes - 1;
                                bfb = sec / recodetime * 100;
                                bfb = bfb.toFixed(2);
                                var ss = 'background-size: ' + bfb + '% 100%';
                                if (allTimes == 0 || sec >= recodetime) {
                                    $api.attr(context, 'playStatus', '2');
                                    clearInterval(timer);
                                    $api.attr($api.dom('.scyp2'), 'src', '../../../image/startPlay.png');
                                    var time = vm.getOutTime(recodetime);
                                    //$api.text($api.dom('.ypTimeP'), time);
                                    $api.css($api.dom('.myRange'), 'background-size: 0% 100%');
                                    range.value = 0;
                                    audioStreamer.pause();
                                    vm.isplayed = '0';
                                    sec = 0;
                                    vm.pasttime = vm.getOutTime(0);
                                } else {
                                    range.value = sec;
                                    var time = vm.getOutTime(allTimes);
                                    $api.css($api.dom('.myRange'), ss);
                                    //$api.text($api.dom('.ypTimeP'), time);
                                    vm.pasttime = vm.getOutTime(sec);
                                }
                            }, 1000);
                        }
                    }
                    //seekToTime(sec);
                },
                GetMaterialInfo: function () {//获取资源详情
                    api.showProgress({
                        title: '加载中',
                        text: '请稍后...',
                        modal: true
                    });
                    apiObj.Get(UrlRouter.GetMaterialInfo, {
                        values: {
                            id: vm.zyid
                        }
                    }, function (ret, err) {
                        api.hideProgress();
                        if (ret) {
                            if (ret.ret == 0) {
                                vm.filetime = ret.filetime;
                                if(api.pageParam.filetype == '.mp3'){
                                    vm.url = ret.serverpath + ret.rootpath;
                                    vm.path = "/audio/" + ret.rootpath + ".amr";
                                }
                                else {
                                    vm.url = ret.serverpath + ret.rootpath;
                                    vm.path = "/audio/" + ret.rootpath + ".amr";
                                }
                                vm.data = ret;
                            } else {
                                api.toast({
                                    msg: ret.msg,
                                    duration: 2000,
                                    location: 'bottom'
                                });
                            }
                        } else {
                            api.toast({
                                msg: err.msg,
                                duration: 2000,
                                location: 'bottom'
                            });
                        }
                    })
                },
                getOutTime: function (intime) {
                    var outTime = '';
                    if (intime <= 9) {
                        outTime = '00:0' + intime;
                    } else if (intime < 59) {
                        outTime = '00:' + intime;
                    } else {
                        var min = parseInt(intime / 60);
                        var sec = intime % 60;
                        if (sec <= 9) {
                            if (min > 0 && min < 10) {
                                outTime = '0' + min + ':0' + sec;
                            } else if (min >= 10) {
                                outTime = min + ':0' + sec;
                            } else {
                                outTime = '00:0' + sec;
                            }
                        } else {
                            if (min > 0 && min < 10) {
                                outTime = '0' + min + ':' + sec;
                            } else if (min >= 10) {
                                outTime = min + ':' + sec;
                            } else {
                                outTime = '00:' + sec;
                            }
                        }
                    }
                    return outTime;
                }
            }
        });
    }
    function openPlayer(url) {
        audioStreamer.openPlayer({
            path: url,
        }, function (ret) {

        });
    }
    function seekToTime(sec) {
        audioStreamer.seekToTime({
            time: sec
        });
    }
    function resume(url) {
        if (api.systemType == 'ios') {
            audioStreamer.resume();
        } else {
            openPlayer(url);
        }
    }
</script>
</html>