<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>听力题</title>
    <link rel="stylesheet" type="text/css" href="../../../css/publicCss.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/frameDetail.css"/>
    <style>
        .listen_content{ display: none}

    </style>
</head>
<body>
<div class="kong_bg">
    <div class="cxjz">
        <div class="cxjztop clearfix">
            <img src="../../../image/newhomework/cxjz.png">
            <p>您的网络开小差了<br>请检查网络环境并点击重新加载吧～</p>
        </div>
        <div class="cxjz_button" onclick="cxjz()">重新加载</div>
    </div>
</div>
<div class="listen_content">
    <img  v-if="complete==2 && material.zyqf == 2 && isShowAnswer && data.res_type!=2" class="jrctb noImgClick" :src="isctb!=1?'../../../image/newhomework/join.png':'../../../image/newhomework/out.png'" @click="PostExercisesTriggerWrong()">
    <!--题干部分开始-->
    <div class="listen_stem">
        <ul id="tixingziUl">
            <li class="tixing clearfix">
                <div class="tihao" v-text="(index+1)+'.'"></div>
                <div class="tixingzi"  v-text="'【'+material.txstr+'】'"></div>
            </li>
            <li v-if="complete==2" class="listen_zsd" @click="alertzsd(data.zsdmc)"><span>难易度：</span><img  class="noImgClick" :src="data.nyd==1?'../../../image/newhomework/1xing.png':data.nyd==2?'../../../image/newhomework/2xing.png':data.nyd==3?'../../../image/newhomework/3xing.png':''"><span> 知识点：</span>{{data.zsdmc}}</li>
        </ul>
        <div class=" font666 listen_tigan" >
            <p v-html="data.tg"></p>
            <div class="tdjhyinpin clearfix" v-if="data.attachments" >
                <img  class="scyp1 noImgClick" src="../../../image/newhomework/yuyinimg.png">
                <img class="scyp2 noImgClick" :playStatus='2' onclick="vm.studentRecord(this);"  src="../../../image/startPlay.png" alt="">
                <div class="ypRange"> <input oninput="vm.monitorRange(event)" class="myRange" type="range" min="0"  value="0"  :max='data.attachments[0].filetime' ></div>
                <p class="ypTimeP" v-text="getOutTime(data.attachments[0].filetime)"></p>
                <audio class="hideenAudio" :src='data.attachments[0].serverpath + data.attachments[0].preview_link' ></audio>
            </div>
        </div>

    </div>
    <!--题干部分结束-->
    <div class="listen_bottom">
        <dd  :style="!isShowAnswer && complete==2 ?'display:inline-block':'display:none'" class="tishi"><img src="../../../image/newhomework/ts.png">未到正确答案显示时间，只展示学生答案哦~</dd>
        <!--答题部分开始-->
        <span v-if="isShowAnswer && complete==2" class="zongfen">
                  <span v-if="data.is_true!=0 && type =='noxtzf'"  v-html="'本题正确率<em>'+data.accuracy+'%</em>'"></span>
                     <span v-if="data.is_true==0" style="color: #ff778c">待批</span>
                <span v-if="data.is_true!=0 && type !='noxtzf'" v-html="'本题得分<em>'+data.score+'</em>/总分'+showScore(scorelist)"></span>
            </span>
        <span class="listen_xiaoti" v-text="'共'+xiaotinum+'小题'"></span>
        <div v-for="(list,index) in data.children" >
            <div class="listenda_content">
                <div class="listen_xtxx" v-html="'('+(index+1)+')'+list.tg"></div>
                <ul v-if="complete!=2" class="option">
                    <li v-for="item in list.options" :id="item.id" :index="index" :class="answer[index].da[0]==item.id?'danxoption xxactive':'danxoption'" tapmode onclick="vm.xxselectClicked(this)"v-text="item.xx" ></li>
                    <li  v-if="complete!=2" class="bhz font4BC7C7" :id="index" tapmode onclick="vm.checded(this)">
                        <span :class="answer[index].is_unable==1?'inputCheckactive':''"></span>不会做
                    </li>
                </ul>
            </div>
            <!--答题部分结束-->
            <!--答案部分开始-->
            <dl v-if="complete==2"  class="listen_answer bgFFF">
                <div v-if="isShowAnswer" class="defen">
                    <img class="noImgClick" v-if="list.is_true!=0 && type =='noxtzf'"
                         :src="list.is_true==1?' ../../../image/newhomework/zhengque.png':list.is_true==2?'../../../image/newhomework/cuowu.png':list.is_true==3?'../../../image/newhomework/bandui.png':''">
                    <span v-if="type =='noxtzf'" :style="list.is_true==1?'color: #4bc7c7':list.is_true==2?'color: #df7605':list.is_true==3?'color: #ffcd06':''"
                          v-text="list.is_true==1?'正确':list.is_true==2?'错误':list.is_true==3?'正确率'+list.accuracy+'%':''"></span>
                    <span v-if="list.is_true==0" style="color: #ff778c">待批</span>
                    <b  v-if="list.is_true!=0 && type !='noxtzf'" v-html="'得分<em>'+list.score+'</em>/分数'+ scorelist[index]"></b>
                </div>
                <dd>
                    <h2 class="wendah2">【我的答案】</h2>
                    <ul class="clearfix wendawdda">
                        <li class="wendazi" v-text="list.is_unable==1?'不会做':list.xsdastr"></li>
                    </ul>
                </dd>
                <dd :style="isShowAnswer?'display:block':'display:none'">
                    <h2 class="wendah2 " v-text="'【'+material.tx_tip+'】'"></h2>
                    <ul>
                        <li class="wendazi" v-html="list.dastr==''?'无':list.dastr" ></li>
                    </ul>
                </dd>
                <dd :style="isShowAnswer?'display:block':'display:none'">
                    <h2 class="wendah2">【答案解析】</h2>
                    <ul>
                        <li class="wendazi"  v-html="list.dajx==''?'无':list.dajx"></li>
                    </ul>
                </dd>
            </dl>
            <!--答案部分结束-->

        </div>
        <div v-if="data.audio && data.audio.length>0" :style="isShowAnswer?'display:block':'display:none'">
            <h2 class="wendah2">【老师留言】</h2>
            <ul class="clearfix">
                <li :class="ylist.type==1?'teacher_liuyan yuyin3':'teacher_liuyan_zi yuyin3'"
                    v-for="(ylist , index) in data.audio" @click="yuyin(ylist,index)">
                    <img  v-if="ylist.type==1" class="audio-img img1 noImgClick" src="../../../image/newhomework/yuyin1.png"/>
                    <img  v-if="ylist.type==1" class="audio-img img2 noImgClick" src="../../../image/newhomework/yuyin2.gif"/>
                    <span v-if="ylist.type==1" v-text="ylist.filetime+'″'"></span>
                    <p v-if="ylist.type==2" v-text="ylist.descript"></p>
                </li>
            </ul>
        </div>
        <div class="jrctbkong"></div>
    </div>
</div>

</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/12XueApi_SDK.js"></script>
<script type="text/javascript" src="../../../script/12XueApi_Router.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../../script/vue.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript" src="../../../script/fastclick.js"></script>
<script>
    var apiObj = new GridOpenApi(UrlDomain, source, version);
    apiObj.SetAuthToken($api.getStorage('token'));
    var vm;
    var actionTime = 1;
    var allTime = 0;
    var newtimejs;
    var queryHomewokAnswer;
    var allTimes = 0;//音频播放
    var sec = 0;
    var timer = null;
    var isfirst=1;
    var audioStreamer;
    var downloadUrl = '';
    var downloadFinshed = '0';
    var playStatus;
    windowError();
    apiready = function () {
        if(api.systemType == 'ios'){
            $api.dom('#tixingziUl').style.position = 'absolute';
        }
        vue();
        audioStreamer = api.require('audioStreamer');
        if(vm.complete!=2) {
            if (JSON.stringify(api.pageParam.queryHomewokAnswer) == '[]' || typeof (api.pageParam.queryHomewokAnswer) == 'undefined') {
                queryHomewokAnswer = {};
            } else {
                queryHomewokAnswer = JSON.parse(api.pageParam.queryHomewokAnswer[0].xtgroup.replace('&apos;', "'"));
            }
        }
        vm.GetParentexercisesUrl();//获取作业习题详情及答题结果
        if(vm.complete==2){//答完题显示总分
            vm.type = api.pageParam.type;
            vm.scorelist = api.pageParam.scorelist;
        }
        if(isfirst==1){
            var db = api.require('db');
            var ret = db.openDatabaseSync({
                name: dbName,
                path: 'fs://student_12xue.db'
            });
            var returnDatatime = db.selectSqlSync({//查询作业时间
                name: dbName,
                sql: 'SELECT * FROM NewHomeWrokTime where uid=' + $api.getStorage('uid') + ' and kcid=' + vm.material.hwid + ' and zyid=' + vm.material.zyid + ' and xsbjid=' + vm.homeworkListData.bjid
            });
            // alert('returnDatatime'+JSON.stringify(returnDatatime))
            if (JSON.stringify(returnDatatime.data) == '[]') {
                allTime = 0;
            } else {
                allTime = parseInt(returnDatatime.data[0].time);
            }
            newtimejs = setInterval(function () {
                actionTime++;
            }, 1000);
        }
        api.addEventListener({//记录时间开始
            name: 'kshomeworkSetTimeout'
        }, function (ret, err) {
            if (ret.value.index == vm.index) {
                if(isfirst==0) {
                    var db = api.require('db');
                    var ret = db.openDatabaseSync({
                        name: dbName,
                        path: 'fs://student_12xue.db'
                    });
                    var returnDatatime = db.selectSqlSync({//查询作业时间
                        name: dbName,
                        sql: 'SELECT * FROM NewHomeWrokTime where uid=' + $api.getStorage('uid') + ' and kcid=' + vm.material.hwid + ' and zyid=' + vm.material.zyid + ' and xsbjid=' + vm.homeworkListData.bjid
                    });
                    // alert('returnDatatime'+JSON.stringify(returnDatatime))
                    if (JSON.stringify(returnDatatime.data) == '[]') {
                        allTime = 0;
                    } else {
                        allTime = parseInt(returnDatatime.data[0].time);
                    }
                    newtimejs = setInterval(function () {
                        actionTime++;
                    }, 1000);
                }
            } else {
                isfirst=0;
                clearInterval(newtimejs);
                allTime = allTime + actionTime;
                actionTime = 0;
            }
        });
        api.addEventListener({//viewdisappear
            name:'pause'
        }, function(ret, err){
            api.sendEvent({
                name: 'yinpinCLose'
            });
        });
        api.addEventListener({// 滑动暂停音频
            name: 'yinpinCLose'
        }, function (ret, err) {
            if($api.domAll('.scyp2').length>=1){
                if($('.scyp2').attr('playStatus')==1){
                    $api.attr($api.dom('.scyp2'), 'playStatus', '2');
                }
                $api.attr($api.dom('.scyp2'), 'src', '../../../image/startPlay.png');
                vm.isplayed = '0';
                clearInterval(timer);
                audioStreamer.pause();
            }
            api.stopPlay();
            $('.img1').show();
            $('.img2').hide();
        });
    };
    function vue(){
        vm = new Vue({
            el: '.listen_content',
            data: {
                index: api.pageParam.index,//当前frame的索引
                material: api.pageParam.material,//当前习题资料
                homeworkListData: api.pageParam.homeworkListData,//作业列表传过来的数据
                complete: api.pageParam.complete,//作业完成状态
                data: [],
                schoolid: api.pageParam.schoolid,//学校id
                xiaotinum:0,
                answer:[],
                isPlaying: false,//老师留言是否播放中
                isShowAnswer: false,
                scorelist:'',
                isctb:'',
                type:'',//习题总分
                isplayed: '0'
            },
            updated: function () {
                for (var i = 0; i < $api.domAll('img').length; i++) {
                    if (!$api.hasCls($api.domAll('img')[i], 'noImgClick')) {
                        $api.attr($api.domAll('img')[i], 'onclick', 'imgClick(this);');
                    }
                }
            },
            methods: {
                showScore: function (list) {
                    var allscore = 0;
                    for (var i = 0; i < list.length; i++) {
                        allscore = allscore + Number(list[i]);
                        if (i + 1 == list.length) {
                            return vm.number_analysis(allscore);
                        }
                    }

                },
                number_analysis:function(number, bit){
                    /**
                     * number_format
                     * @param number 传进来的数,
                     * @param bit 保留的小数位,默认保留两位小数
                     */
                    if (vm.is_empty(number)) {
                        return number;
                    }
                    //设置接收参数的默认值
                    bit = bit ? bit : 1;

                    var str = '';
                    number = Number(number);
                    number = (number).toFixed(bit);//格式化
                    var realnum = number.split('.')[0];//整数位(使用小数点分割整数和小数部分)
                    var decimal = number.split('.')[1];//小数位
                    //重新拼接实数部分和小数位
                    if (parseInt(decimal) > 0)
                        realnum = realnum + '.' + decimal;
                    return realnum;
                },
                is_empty:function(data){
                    /**
                     * 判断对象或字符串是否为空
                     * @param data
                     * @author 邹峰
                     * @time 2017年07月24日15:44:24
                     * @return {boolean}
                     */
                    if (typeof data === 'undefined') {
                        return true;
                    } else if (typeof data === 'string' && (data === '' || data === '0' || data === 'null')) {
                        return true;
                    } else if (typeof data === 'object') {
                        for (var name in data) {
                            return false;
                        }
                        return true;
                    } else if (data instanceof Array) {
                        if (data.length === 0) return true;
                    } else if (typeof data === 'boolean') {
                        return !data;
                    } else if (data === null || data === 'null') {
                        return true;
                    } else if (data === 0 || data === '0') {
                        return true;
                    }
                    return false;
                },
                xtzongfen:function(xtzf,xtnum,xtindex){
                    var b=Math.floor((xtzf*10)/xtnum)/10;
                    if(xtindex+1==xtnum){
                        var last= xtzf-(b*(xtnum-1));
                        if(last.toString().split('.')[1]>0){last = last.toFixed(1)}else{last = last.toFixed(0)}
                        return last
                    }else{
                        return b;
                    }
                },
                alertzsd:function(content){
                    alert('知识点：'+content);
                },
                PostExercisesTriggerWrong:function(){//错题本改版 ，添加错题本、移除错题本、表及重点
                    var type;
                    if(vm.isctb==1){
                        type = 'outbook';
                    }else{
                        type = 'addbook';
                    }
                    apiObj.Post(UrlRouter.PostExercisesTriggerWrong, {
                        values: {
                            sys_id:vm.data.sys_id,
                            kc_type:2,
                            type:type
                        }
                    }, function (ret, err) {
                        if (ret) {
                            if (ret.ret == 0) {
                                if(type=='outbook'){
                                    vm.isctb=0;
                                    api.toast({
                                        msg: '已移出错题本',
                                        duration: 2000,
                                        location: 'bottom'
                                    });
                                }else{
                                    vm.isctb=1;
                                    api.toast({
                                        msg: '成功加入错题本',
                                        duration: 2000,
                                        location: 'bottom'
                                    });
                                }

                            }else{
                                api.toast({
                                    msg: ret.msg,
                                    duration: 2000,
                                    location: 'bottom'
                                });
                            }
                        }else{
                            api.toast({
                                msg: err.msg,
                                duration: 2000,
                                location: 'bottom'
                            });
                        }
                    })
                },
                GetParentexercisesUrl: function () {//获取作业习题详情及答题结果
                    api.showProgress({
                        title: '加载中',
                        text: '请稍后...',
                        modal: true
                    });
                    apiObj.Get(UrlRouter.GetParentexercisesUrl, {
                        values: {
                            hwid: vm.material.hwid,
                            uid: $api.getStorage('uid'),
                            xtid: vm.material.zyid,
                            classid: vm.homeworkListData.bjid,
                            ytlx: vm.material.ytlx,
                            step: 0,
                            schoolid: vm.schoolid
                        }
                    }, function (ret, err) {
                        api.hideProgress();
                        if (ret) {
                            if (ret.ret == 0) {
                                $('.listen_content').show();
                                $('.kong_bg').hide();
                                vm.data = ret;
                                vm.isctb = ret.is_ctb;
                                vm.xiaotinum = ret.children.length;
                                if (vm.complete == 2) {
                                    if (vm.data.isshowanswer==1) {
                                        vm.isShowAnswer = true;
                                    } else {
                                        vm.isShowAnswer = false;
                                    }
                                }
                                if (vm.complete != 2) {
                                    for (var i = 0; i < ret.children.length; i++) {//给初始化的小题加个默认空答案 防止报错
                                        var kongcontent = {
                                            'topid': ret.id,
                                            'id': ret.children[i].id,
                                            'da': [],
                                            'is_unable': 0,
                                            'daoptions': ret.children[i].daoptions,
                                            'sort': ret.children[i].sort,
                                        };
                                        Vue.set(vm.answer, i, kongcontent);
                                    }
                                    if (queryHomewokAnswer.hasOwnProperty(vm.material.zyid)) {//缓存的答案
                                        vm.answer = queryHomewokAnswer[vm.material.zyid].children;
                                    }
                                }
                            } else {
                                $('.listen_content').hide();
                                $('.kong_bg').show();
                            }
                        } else {
                            $('.listen_content').hide();
                            $('.kong_bg').show();
                        }
                    })
                },
                yuyin: function (audioItem, index) {
                    if (audioItem.type == 1) {
                        if (vm.isPlaying) {
                            api.stopPlay();
                            $('.img1').show();
                            $('.img2').hide();
                        } else {
                            $('.img1').show();
                            $('.img2').hide();
                            var audioName = audioItem.savename;
                            var path = "/audio/" + audioName + ".amr";
                            api.download({
                                url: audioItem.serverpath + "/" + audioItem.savename,
                                savePath: 'fs:/' + path,
                                report: false,
                                cache: false,
                                allowResume: false
                            }, function (ret, err) {
                                if (ret && ret.state == 1) {
                                    // 下载成功  ret.savePath
                                    isDownloading = false;
                                    api.startPlay({
                                        path: api.fsDir + path
                                    }, function (ret, err) {
                                        if (ret) {
                                            vm.isPlaying = false;
                                            $('.img1').show();
                                            $('.img2').hide();

                                        }
                                    });

                                    $('.yuyin3').eq(index).find('.img1').hide();
                                    $('.yuyin3').eq(index).find('.img2').show();
                                    $('.yuyin3').eq(index).siblings().find('.img1').show();
                                    $('.yuyin3').eq(index).siblings().find('.img2').hide();
                                }
                            });
                        }
                        vm.isPlaying = !vm.isPlaying;
                    }

                },
                xxselectClicked: function (context) {//选择判断题选项点击事件
                    var xtindex=$(context).attr('index');
                    vm.answer[xtindex].da =[$(context).attr('id')];
                    vm.answer[xtindex].is_unable = 0;//不会做
                    vm.saveAnswer(vm.answer);
                },
                checded: function (context) {//复选框不会做点击事件
                    var xtindex= $(context).attr('id');
                    vm.answer[xtindex].da = [];
                    vm.answer[xtindex].is_unable = 1;//不会做
                    vm.saveAnswer(vm.answer);
                },
                saveAnswer:function (da) {
                    var eachxtgroup = {
                        'is_auto': 1,
                        'tx': vm.data.tx,
                        'xtid': vm.material.zyid,
                        'children': da,
                        'tx_code':vm.data.tx_code,
                        'score': vm.material.score,
                        'part_score': vm.material.part_score
                    };
                    clearInterval(newtimejs);
                    allTime = allTime + actionTime;
                    actionTime = 0;
                    api.sendEvent({
                        name: 'saveAnswerHuancun',
                        extra: {
                            eachxtgroup: eachxtgroup,
                            zyid: vm.material.zyid,
                            use_time:allTime,
                            index:vm.index
                        }
                    });
                    newtimejs = setInterval(function () {
                        actionTime++;
                    }, 1000);
                },
                monitorRange: function (event) {
                    var range = $api.dom('.myRange');
                    var recodetime = vm.data.attachments[0].filetime;
                    sec = parseInt(event.target.value);
                    allTimes = parseInt(recodetime - sec);
                    var bfb = sec / recodetime * 100;
                    bfb = bfb.toFixed(2);
                    var ss = 'background-size: ' + bfb + '% 100%';
                    $api.css($api.dom('.myRange'), ss);
                    range.value = sec;
                    var time = vm.getOutTime(allTimes);
                    $api.text($api.dom('.ypTimeP'), time);
                    seekToTime(sec);
                },
                studentRecord: function (context) {
                    var url = vm.data.attachments[0].serverpath + vm.data.attachments[0].preview_link;   // 获取一下  data.attachments[0].serverpath + data.attachments[0].preview_link
                    playStatus = $api.attr(context, 'playStatus');
                    var recodetime = vm.data.attachments[0].filetime;  // 获取一下  filetime
                    var range = $api.dom('.myRange');
                    var bfb;
                    var path = "/audio/" + vm.data.attachments[0].savename + ".amr";
                    if(downloadFinshed == '0'){
                        api.showProgress({
                            title: '正在加载资源',
                            text: '请稍后...',
                            modal: true
                        });
                        api.download({
                            url : url,
                            savePath:'fs://mp3s/' + path,
                            report : true,
                            cache : true,
                            allowResume : false
                        }, function(ret, err) {
                            if (ret.state == 1 && ret.savePath) {
                                api.hideProgress();
                                downloadUrl = ret.savePath;
                                downloadFinshed = '1';
                                openPlayer(downloadUrl);
                                $api.attr(context, 'playStatus', '1');
                                vm.isplayed = '1';
                                //resume(downloadUrl);
                                if(sec == 0){
                                    allTimes = recodetime;
                                }
                                else {
                                    setTimeout(function () {
                                        seekToTime(sec);
                                    }, 1000);
                                }
                                $api.attr($api.dom('.scyp2'), 'src', '../../../image/stop.png');
                                timer = setInterval(function (e) {
                                    sec = sec + 1;
                                    allTimes = allTimes - 1;
                                    bfb = sec / recodetime * 100;
                                    bfb = bfb.toFixed(2);
                                    var ss = 'background-size: ' + bfb + '% 100%';
                                    if (allTimes == 0 || sec >= recodetime) {
                                        $api.attr(context, 'playStatus', '2');
                                        clearInterval(timer);
                                        $api.attr($api.dom('.scyp2'), 'src', '../../../image/startPlay.png');
                                        var time = vm.getOutTime(recodetime);
                                        $api.text($api.dom('.ypTimeP'), time);
                                        $api.css($api.dom('.myRange'), 'background-size: 0% 100%');
                                        range.value = 0;
                                        audioStreamer.pause();
                                        vm.isplayed = '0';
                                        sec = 0;
                                    } else {
                                        range.value = sec;
                                        var time = vm.getOutTime(allTimes);
                                        $api.css($api.dom('.myRange'), ss);
                                        $api.text($api.dom('.ypTimeP'), time);
                                    }
                                }, 1000);
                            }
                        });
                    }
                    else {
                        if(sec == 0){
                            audioStreamer.stop();
                            openPlayer(downloadUrl);
                        }
                        if (playStatus == '1') {//暂停
                            $api.attr(context, 'playStatus', '2');
                            vm.isplayed = '0';
                            $api.attr($api.dom('.scyp2'), 'src', '../../../image/startPlay.png');
                            clearInterval(timer);
                            audioStreamer.pause();
                        } else {//播放
                            $api.attr(context, 'playStatus', '1');
                            vm.isplayed = '1';
                            resume(downloadUrl);
                            if(sec == 0){
                                allTimes = recodetime;
                            }
                            $api.attr($api.dom('.scyp2'), 'src', '../../../image/stop.png');
                            timer = setInterval(function (e) {
                                sec = sec + 1;
                                allTimes = allTimes - 1;
                                bfb = sec / recodetime * 100;
                                bfb = bfb.toFixed(2);
                                var ss = 'background-size: ' + bfb + '% 100%';
                                if (allTimes == 0 || sec >= recodetime) {
                                    $api.attr(context, 'playStatus', '2');
                                    clearInterval(timer);
                                    $api.attr($api.dom('.scyp2'), 'src', '../../../image/startPlay.png');
                                    var time = vm.getOutTime(recodetime);
                                    $api.text($api.dom('.ypTimeP'), time);
                                    $api.css($api.dom('.myRange'), 'background-size: 0% 100%');
                                    range.value = 0;
                                    audioStreamer.pause();
                                    vm.isplayed = '0';
                                    sec = 0;
                                } else {
                                    range.value = sec;
                                    var time = vm.getOutTime(allTimes);
                                    $api.css($api.dom('.myRange'), ss);
                                    $api.text($api.dom('.ypTimeP'), time);
                                }
                            }, 1000);
                        }
                    }
                    //seekToTime(sec);
                },
                getOutTime: function (intime) {
                    var outTime = '';
                    if(intime<=9){
                        outTime = '00:0'+intime;
                    }else if(intime<=59){
                        outTime = '00:'+intime;
                    }else {
                        var min =parseInt(intime/60);
                        var sec = intime%60;
                        if(sec<=9){
                            if(min>0&&min<10){
                                outTime ='0'+ min+ ':0' + sec ;
                            }else if(min>=10){
                                outTime = min+ ':0' + sec ;
                            }else{
                                outTime = '00:0'+sec;
                            }
                        }else{
                            if(min>0&&min<10){
                                outTime ='0'+ min + ':'+ sec ;
                            }else if(min>=10){
                                outTime = min + ':'+ sec ;
                            }else {
                                outTime = '00:'+sec;
                            }
                        }
                    }
                    return outTime;
                }

            }
        });
    }
    function imgClick(context) {
        var src = $api.attr(context, 'src');
        if (src.indexOf('data:image/png;base64,') != -1) {
            return;
        }
        if(src.substring(src.length-3)=='gif'){}else {
            var photoBrowser = api.require('photoBrowser');
            photoBrowser.open({
                images: [
                    src
                ],
                placeholderImg: 'widget://../image/loading_more.gif',
                bgColor: '#fff'
            }, function (ret, err) {
                if (ret.eventType == 'click') {
                    photoBrowser.close();
                }
            });}
    }
    function cxjz() {
        vm.GetParentexercisesUrl()
    }
    function openPlayer(url) {
        audioStreamer.openPlayer({
            path: url,
        }, function (ret) {
            if (ret.status) {
            }
        });
    }
    function seekToTime(sec) {
        audioStreamer.seekToTime({
            time: sec
        });
    }
    function resume(url) {
        if (api.systemType == 'ios') {
            audioStreamer.resume();
        } else {
            openPlayer(url);
        }
    }
</script>
</html>