<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>学科列表</title>
    <link rel="stylesheet" type="text/css" href="../../../css/publicCss.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/winDetailCss.css"/>
    <style>
        .button-normal{
            color: #d6d6d6;
            font-size: 1.2rem;
            height: 27px;
            line-height: 28px;
            width: 90px;
            overflow: hidden;
            border: 1px solid #d6d6d6;
            border-radius: 3px;
            display: inline-block;
            text-align: center;
        }
        .button-normal{
            color: #d6d6d6;
            font-size: 1.2rem;
            height: 27px;
            line-height: 28px;
            width: 90px;
            overflow: hidden;
            border: 1px solid #d6d6d6;
            border-radius: 3px;
            display: inline-block;
            text-align: center;
        }
        .button-norma2{
            color: #fff;
            font-size: 1.2rem;
            height: 27px;
            line-height: 14px;
            width: 90px;
            /*overflow: hidden;*/
            border: 1px solid #4bc7c7;
            border-radius: 3px;
            display: inline-block;
            text-align: center;
            background: #4bc7c7;

        }
        .button-norma2 span{ display: inline;text-align: center}
        .button-norma2 img{ width:15px;display: inline-block; float: left;margin-top: 5px;margin-left: 5px }
        .button-norma2 span b{ font-weight: normal}
    </style>
</head>
<body>
<header class="clearfix main3">
    <div onclick="vm.closewin()" class="winTitle pull_left" >
        考试
    </div>
    <ul class="pull_right clearfix winIcon">
        <li  v-if="is_soon==0" class="button-normal font666 pull_right " @click="openexaminaation()" ><p>暂无考试</p></li>
        <li style="line-height: 28px;"  v-if="is_soon==2" class="button-norma2 font666 pull_right clearfix"  @click="openexaminaation()" > <img src="../../../image/exam/ksdjs.png"><span  >待考试{{examNum}}</span></li>
        <!--<li  v-if="is_soon==1" class="button-normal font666 pull_right" ><p>考试倒计时</p></li>-->
        <li  style="display: none"    class="button-norma2 font666 pull_right clearfix ksdjs"  @click="openexaminaation()"> <img src="../../../image/exam/ksdjs.png"><span  >考试倒计时<Br>(<b v-text="showtime(time)"></b>)</span></li>

        <li  v-if="is_soon==3" class="button-norma2 font666 pull_right clearfix" id="ksz" style="line-height: 28px; " @click="openexaminaation()"> <img src="../../../image/exam/ksdjs.png"><span  >考试中</span></li>

        <li @click="openSelectState()" class="buttonFour font4BC7C7 examType pull_right"><p v-text="status==3?'阅卷完成':status==1?'缺考':status==2?'阅卷中':'考试状态'"></p></li>
        <li  @click="selectTime()" class="buttonFour font4BC7C7 examTime pull_right"><p v-text="sendtime==0?'考试时间':sendtime">考试时间</p></li>

    </ul>
</header>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/12XueApi_SDK.js"></script>
<script type="text/javascript" src="../../../script/12XueApi_Router.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript" src="../../../script/fastclick.js"></script>
<script type="text/javascript" src="../../../script/vue.js"></script>
<script type="text/javascript" src="../../../script/countdown.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../../script/DateUtil.js"></script>
<script type="text/javascript">
    var apiObj = new GridOpenApi(UrlDomain, source, version);
    apiObj.SetAuthToken($api.getStorage('token'));
    var vm;
    var newtimejs;
    var shuaxinTime=0;
    var newtimejs2;
    apiready = function () {
        vue();
        var header = document.querySelector('header');
//        //$api.fixStatusBar(header);
        var headerH = $api.offset(header).h;
        var frameH = padWinHeight - headerH;
        api.setStatusBarStyle({
            style: 'light'
        });
        var title = api.pageParam.subject.name+'考试';
        $api.html($api.dom('.winTitle'), title);
        api.openFrame({
            name: 'frame_exam_list',
            url: 'frame_exam_list.html',
            rect: {
                x: 0,
                y: headerH+1,
                w: api.winWidth,
                h: frameH-1
            },
            bounces: false,
            pageParam:{
                subject: api.pageParam.subject,classids:api.pageParam.classids
            }
        });
        vm.GetPaperSoonexam();
        api.addEventListener({
            name:'shuaxinkssj'
        },function(ret,err){
            clearInterval(newtimejs);
            vm.GetPaperSoonexam();
        });
        api.addEventListener({
            name:'resume'
        }, function(ret, err){
            vm.GetPaperSoonexam();
        });
        api.addEventListener({
            name:'online'
        }, function(ret, err){
            vm.GetPaperSoonexam();
        });
        newtimejs2 = setInterval(function () {
            shuaxinTime++;
            if(shuaxinTime % 60===0){
                clearInterval(newtimejs);
                vm.GetPaperSoonexam();
                api.sendEvent({
                    name: 'shuaxinkssj2'
                });
            }else if(shuaxinTime==300){
                clearInterval(newtimejs);
                vm.GetPaperSoonexam();
                api.sendEvent({
                    name: 'shuaxinkssj2'
                });
            }
        }, 1000);


        // Android按返回键关闭页面时结束自定义页面统计
        api.addEventListener({
            name:'keyback'
        },function(ret,err){
            vm.closewin();
        });
        api.addEventListener({// 选择状态
            name: 'selectStatus'
        }, function (ret, err) {
            vm.status = ret.value.status;
        });
        api.addEventListener({// 选择状态
            name: 'selectTime'
        }, function (ret, err) {
            vm.sendtime = ret.value.showtime;
            vm.chooseYear= ret.value.chooseYear;
                vm.chooseMonth= ret.value.chooseMonth;
        });
    };
   function vue(){
   vm = new Vue({
        el: '.main3',
        data: {
            status:0,
            is_soon:'',
            data:[],
            time:0,
            examNum:0,
            sendtime:0,
            chooseYear:0,
            chooseMonth:0,
        },
        methods: {
            closewin:function(){
                api.sendEvent({
                    name: 'reloadSubjectList'
                });
                api.closeWin();
            },
            showtime:function(time){
                return DateUtil.formatTimeToFriendly(time)
            },
            selectTime:function(){
                api.openFrame({
                    name: 'chooseTime',
                    url: 'chooseTime.html',
                    rect: {
                        x: 0,
                        y: 0,
                        w: api.winWidth,
                        h: padWinHeight
                    },
                    pageParam: {
                        subject: api.pageParam.subject,
                        classids:api.pageParam.classids,
                        chooseYear:vm.chooseYear,
                        chooseMonth:vm.chooseMonth,
                    },
//            bounces: true
                });
            },
            openexaminaation:function(){
                api.sendEvent({
                    name: 'shuaxinkssj'
                });
                if(vm.is_soon!=0){
                    var header = document.querySelector('header');
                    var headerH = $api.offset(header).h;
                    var frameH = padWinHeight - headerH;
                    api.openFrame({
                        name: 'frame_exam_subject_examination_list',
                        url: 'frame_exam_subject_examination_list.html',
                        rect: {
                            x: 0,
                            y: headerH,
                            w: api.winWidth,
                            h: frameH
                        },
                        pageParam: {
                            classids:api.pageParam.classids
                        },
//            bounces: true
                    });
                }
            },
            openSelectState:function(list){
                var header = document.querySelector('header');
//        //$api.fixStatusBar(header);
                var headerH = $api.offset(header).h;
                var frameH = padWinHeight - headerH;
                api.openFrame({
                    name: 'Examination_state',
                    url: 'Examination_state.html',
                    rect: {
                        x: 0,
                        y: 0,
                        w: api.winWidth,
                        h: padWinHeight
                    },
                    pageParam: {
                        status:vm.status
                    },
//            bounces: true
                });
            },
            GetPaperSoonexam: function () {//
                // api.showProgress({
                //     title: '加载中',
                //     text: '请稍后...',
                //     modal: false
                // });
                apiObj.Get(UrlRouter.GetPaperSoonexam, {
                    values: {
                        bjid: api.pageParam.classids.join(",")
                    }
                }, function (ret, err) {
                    api.hideProgress();
                    if (ret) {
                        if (ret.ret == 0) {
                                vm.is_soon=ret.data.is_soon;
                                if(ret.data.data){
                                    vm.data=ret.data.data;
                                    vm.time=ret.data.time;
                                    // vm.time=100;
                                    vm.examNum=ret.data.data.length;
                                    if( vm.is_soon ==1){
                                        $('.ksdjs').show();
                                        newtimejs = setInterval(function () {
                                            vm.time--;
                                            if(  vm.time==0){
                                                clearInterval(newtimejs);
                                                $('.ksdjs').hide();
                                                vm.is_soon=3
                                            }
                                        }, 1000);
                                    }else{
                                        $('.ksdjs').hide();
                                    }
                                }

                                // alert(vm.is_soon)





                        } else{
                            api.hideProgress();
                            api.toast({
                                msg: ret .msg,
                                duration: 2000,
                                location: 'bottom'
                            });
                        }

                    }else{
                        api.hideProgress();
                        api.toast({
                            msg: err .msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                    }
                } ,'','',false);
            },

        }
    }); }
    // 倒计时 秒
    function dao (time){
        var o = {
            el : 'time',
            st : 0,
            ed : time*1000,
            // hh: 'hh',
            mm: 'mm',
            ss: 'ss',
            ms: 'ms'
        };
        var d = new countdown(o);
        d.downsElement();

    }
</script>
</html>