<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>

    <title>限时答题-习题组</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/publicCss.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../css/winDetailCss.css"/>
    <style>
        .winTitle {
            width: calc(100% - 300px);
        }

        .datika {
            background: url(../../../../image/stuHomePad/datika.png) no-repeat 5px 5px #fff;
            background-size: 19px 17px;
        }

        .datika:active {
            color: #fff;
            background: url(../../../../image/stuHomePad/datikaactive.png) no-repeat 5px 5px #4bc7c7;
            background-size: 19px 17px;
        }


        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<div class="content1" v-cloak="">
    <header class="clearfix">
        <div onclick="closeWin();" class="winTitle pull_left" v-text="title"></div>
        <ul class="pull_right clearfix winIcon">
            <li class="buttonFour font4BC7C7 AIbtnclick pull_right" tapmode onclick="getAIbstAndSetNum();"><p>
                AI变式题</p></li>
            <li v-if="Number(complete) === 0" class="buttonFour font4BC7C7 datika pull_right" tapmode onclick="answerCard();"><p>答题结果</p></li>
        </ul>
        <div style="position: absolute;left: 50%; top: 20px; transform: translateX(-50%); display: grid; grid-auto-flow: column; column-gap: 2vw; font-size: 1.5rem; color:#999999">
            <div style="font-weight: bold;">本月剩余</div>
            <div>
                变式题推送次数:&nbsp;
                <span style="font-weight: bold;"
                      :style="{'color': aiPush.count > 0 ? '#4BC7C7': '#F82A1A'}"
                      v-text="aiPush.count"></span>
            </div>
            <div v-if="Number(complete) !== 0">
                AI解析次数:&nbsp;
                <span style="font-weight: bold;"
                      :style="{'color': aiAnalysis.count > 0 ? '#4BC7C7': '#F82A1A'}" v-text="aiAnalysis.count"></span>
            </div>
        </div>

    </header>
    <div class="content">
        <div class="type bg4BC7C7 fontFFF">{{ current + 1 }}/{{ xtnum }}</div>
        <ul class="scroll">
            <li v-for="(list , index) in xitiinfo" :class="current==index?'current':''" tapmode
                onclick="vm.itemClick(this)">
                {{ index + 1 }}
            </li>
        </ul>
    </div>
    <ul class="right_btn">
        <li @click.stop="winpageUpOnclick()"><img src="../../../../image/up1.png"></li>
        <li @click.stop="winnextOnclick()"><img src="../../../../image/down1.png"></li>
    </ul>
</div>

</body>
<script type="text/javascript" src="../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../script/12XueApi_SDK.js"></script>
<script type="text/javascript" src="../../../../script/12XueApi_Router.js"></script>
<script type="text/javascript" src="../../../../script/class_score.js"></script>
<script type="text/javascript" src="../../../../script/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../../../script/vue.js"></script>

<script type="text/javascript">
    var classObj, classObjForCloud;
    var xitiinfo;
    var frameArr = [];
    var index; //当前页的索引
    var heartXtz;
    var answerArr;
    var accuracy = 0;
    var accuracyArr;
    apiready = function () {
        classObj = new GridOpenApi('http://' + $api.getStorage('ip'), source, version);
        classObjForCloud = new GridOpenApi('http://' + $api.getStorage('netIP'), source, version);
        $api.setStorage('card', 'false');
        initVue();
        xitiinfo = api.pageParam.xitiinfo;
        answerArr = new Array(xitiinfo.length);
        accuracyArr = new Array(xitiinfo.length);
        for (var i = 0; i < xitiinfo.length; i++) {
            answerArr[i] = '';
            accuracyArr[i] = 0;
        }

        //存储答题状态 (是否选中，是否答对)
        api.addEventListener({
            name: 'commitAnswer'
        }, function (ret, err) {
            if (ret) {
                var index = ret.value.index;
                answerArr[index] = ret.value.answerData;
//                accuracy = Number(accuracy) + Number(ret.value.accuracy);
                accuracyArr[index] = ret.value.accuracy;
                next();
            }
        });
        api.setStatusBarStyle({
            style: 'light'
        });
        //点击答题卡题号显示当前题目
        api.addEventListener({
            name: 'jumptoindex'
        }, function (ret, err) {
            api.setFrameGroupIndex({
                name: 'xtzFrameGroup',
                index: ret.value.exeIndex,
                scroll: true
            });
            vm.index = ret.value.exeIndex;
        });
        initFrameGroupView(xitiinfo);//展示frameGroup
        getHeart('heart');//开启心跳请求
        api.addEventListener({
            name: 'keyback'
        }, function (ret, err) {
            closeWin();
        });

        api.addEventListener({
            name: 'viewdisappear'
        }, function (ret, err) {
            api.sendEvent({
                name: 'pauseAudio'
            });
        });

        //接收打开打分的事件
        api.addEventListener({
            name: api.winName
        }, function (ret, err) {
            stuScorePublicFunction(ret.value.scoreData, ret.value.type);
        });

        api.addEventListener({
            name: 'viewdisappear'
        }, function (ret, err) {
            api.sendEvent({
                name: 'yinpinCLose'
            });
        });
        api.addEventListener({
            name: 'pause'
        }, function (ret, err) {
            api.sendEvent({
                name: 'yinpinCLose'
            });
        });

        api.closeWin({
            name: 'win-class-answerCard-pad'
        });
        api.closeWin({
            name: 'win-xsdt-dt-main-pad'
        });


        //接收frame界面 检测答题是否结束的请求
        api.addEventListener({
            name: 'checkDtState'
        }, function (ret, err) {
            if (vm.complete == 1) {
                api.sendEvent({
                    name: 'ShowAnswer'
                });
            }
        });


    };

    function initVue() {
        vm = new Vue({
            el: '.content1',
            data: {
                xitiinfo: api.pageParam.xitiinfo,
                current: 0,
                xtnum: api.pageParam.xitiinfo.length,
                index: 0,
                title: '习题组',
                complete: 0,
                aiAnalysis: {count: 0},
                isDisplayAiAnalysis: false,
                aiPush: {count: 0}
            },
            updated: function () {
            },
            beforeMount: function () {
                this.$watch('aiAnalysis', () => {
                    $api.setStorage('aiAnalysis', this.aiAnalysis);
                }, {deep: true});

                api.addEventListener({
                    name: 'aiAnalysis.count--'
                }, () => {
                    if(this.aiAnalysis.count > 0){
                        this.aiAnalysis.count -= 1;
                    }
                })

                const apiObj = new GridOpenApi(UrlDomain, source, version)
                apiObj.SetAuthToken($api.getStorage('token'))
                try {
                    apiObj.Get(UrlRouter.GetPayfeeCountByType, {
                        values: {
                            type: 'ai_analysis',
                            schoolid: $api.getStorage('schoolid'),
                        }
                    }, (ret, err) => {
                        if (ret) {
                            if (ret.ret === 0) {
                                this.aiAnalysis = ret.data;
                            } else {
                                this.aiAnalysis = {count: 0};
                            }
                        } else {
                            throw new Error(err)
                        }

                    });

                    apiObj.Get(UrlRouter.GetPayfeeCountByType, {
                        values: {
                            type: 'ai_push',
                            schoolid: $api.getStorage('schoolid'),
                        }
                    }, (ret, err) => {
                        if (ret) {
                            if (ret.ret === 0) {
                                this.aiPush = ret.data;
                            } else {
                                this.aiPush = {count: 0};
                            }
                        } else {
                            throw new Error(err)
                        }
                    });
                } catch (e) {
                    console.error(e);
                }
            },
            methods: {
                itemClick: function (context) {//左边题号切换
                    vm.current = $(context).index();
                    api.setFrameGroupIndex({
                        name: 'xtzFrameGroup',
                        index: vm.current,
                        scroll: true
                    });
                },
                winpageUpOnclick: function () {//右边上一个按钮切换
                    if (vm.current == 0) {
                        api.toast({
                            msg: '已经是第一个了',
                            duration: 2000,
                            location: 'bottom'

                        })
                    } else {
                        vm.current--;
                        vm.index--;
                        api.setFrameGroupIndex({
                            name: 'xtzFrameGroup',
                            index: vm.current,
                            scroll: true
                        });
                    }
                },
                winnextOnclick: function () {//右边下一个按钮切换
                    if (vm.current == vm.xtnum - 1) {
                        api.toast({
                            msg: '已经是最后一个了',
                            duration: 2000,
                            location: 'bottom'

                        })
                    } else {
                        vm.index++;
                        vm.current++;
                        api.setFrameGroupIndex({
                            name: 'xtzFrameGroup',
                            index: vm.current,
                            scroll: true
                        });
                    }
                },
            }
        });
    }

    function postAddOperationLog() {
        if (vm.aiAnalysis.count > 0) {
            vm.aiAnalysis.count--;
        }
    }


    function initFrameGroupView() {
        //创建frame
        for (var i = 0; i < xitiinfo.length; i++) {
            var tx_code = xitiinfo[i].tx_code;
            var tx = xitiinfo[i].tx;
            var url = '';//frame 拼接名字
            var itemXtInfo;//当前frame需要的数据
            switch (tx_code) {
                case 1://单选 多选 判断 听单句话 单项选择
                    url = 'frame_xzt';
                    break;
                case 4://复合题带选项
                    if (tx == 'tdh' || tx == 'tdb' || tx == 'ttt') {//听对话 听对白
                        url = "frame_listen";
                    } else {//完型填空 阅读理解 材料选择题
                        url = "frame_wxtk";
                    }
                    break;
                default:
                    break;
            }
            itemXtInfo = xitiinfo[i];
            var frame = {
                name: url + i,
                url: url + '.html',
                pageParam: {
                    xtinfo: xitiinfo[i],
                    index: i
                },
                bgColor: '#f2f2f2',
            };
            frameArr[i] = frame;
        }


        var header = document.querySelector('header');
        var leftW = $api.offset($api.dom('.content')).w;
        var rightW = $api.offset($api.dom('.right_btn')).w;
        var headerH = $api.offset(header).h;
        api.openFrameGroup({
            name: 'xtzFrameGroup',
            scrollEnabled: false,
            rect: {
                x: leftW + 10,
                y: headerH + 10,
                w: api.winWidth - leftW - rightW - 30,
                h: api.winHeight - headerH - 10
            },
            index: 0,
            preload: 0,
            frames: frameArr
        }, function (ret, err) {
            vm.current = ret.index;
            vm.index = ret.index;
            api.sendEvent({
                name: 'yinpinCLose'
            });
            if (vm.current > 4) {
                $api.dom('.scroll').scrollTop = (vm.current - 4) * 47
            } else {
                $api.dom('.scroll').scrollTop = 0;
            }
        });
    }


    //查看答题卡
    function answerCard(type) {
        $api.setStorage('card', 'true');
        var subType;
        var reload;
        if (type == 'keyback') {
            subType = 'from_left';
            reload = false;
        } else {
            subType = 'from_right';
            reload = true;
        }

        accuracy = 0;
        for (var i = 0; i < accuracyArr.length; i++) {
            if (accuracyArr[i] != 0) {
                accuracy = Number(accuracy) + Number(accuracyArr[i]);
            }
        }

        console.log(JSON.stringify(answerArr));
        api.openWin({
            name: 'win-class-answerCard-pad',
            url: 'win-class-answerCard-pad.html',
            pageParam: {
                xitiinfo: xitiinfo,
                answerArr: answerArr,
                complete: vm.complete,
                accuracy: accuracy
            },
            reload: reload,
            slidBackEnabled: false,
            animation: {
                subType: subType
            }
        });
    }

    //心跳请求
    function getHeart(type) {
        //区分云端课堂
        if (type == 'heart') {
            heartXtz = setTimeout("getHeart('heart')", 1000);
        }
        if ($api.getStorage('connectType') == 'Lan') {
            classObj.CancleAjax('timeHeart');
            classObj.Get(UrlRouter.GetCmdToPc, {
                values: {
                    cmdname: 'dtstate',
                    stu: 1,
                    classid: $api.getStorage('classid')
                }
            }, function (ret, err) {
                if (ret) {
                    ProcessRet1(ret, type);
                } else {
                    clearTimeout(heartXtz);
                    api.toast({
                        msg: '设备断开连接',
                        duration: 1500,
                        location: 'bottom'
                    });
                    setTimeout(function () {
                        api.closeToWin({
                            name: 'win-interaction-home-pad'
                        });
                    }, 1500);
                }
            }, 'timeHeart');

        } else {
            api.addEventListener({
                name: 'ReceiveMessage_14'
            }, function (ret, err) {
                ProcessRet1(ret.value.receive, type);
            });
            classObjForCloud.CancleAjax('timeHeart');
            classObjForCloud.Get(UrlRouter.GetCmdToPc, {
                values: {
                    cmdname: 'dtstate',
                    stu: 1,
                    classid: $api.getStorage('classid'),
                    from: 'ReceiveMessage_14',
                    uid: $api.getStorage('uid'),
                    vclass_token: $api.getStorage('vclass_token'),
                    private_token: $api.getStorage('private_token')
                }
            }, function (ret, err) {
                if (ret && ret.status == 1) {
                } else {
                    clearTimeout(heartXtz);
                    api.toast({
                        msg: ret.info,
                        duration: 1500,
                        location: 'bottom'
                    });
                    setTimeout(function () {
                        api.closeToWin({
                            name: 'win-interaction-home-pad'
                        });
                    }, 1500);
                }

            }, 'timeHeart');

        }
    }

    function closeWin() {
        if (vm.complete == 1) {

            accuracy = 0;
            for (var i = 0; i < accuracyArr.length; i++) {
                if (accuracyArr[i] != 0) {
                    accuracy = Number(accuracy) + Number(accuracyArr[i]);
                }
            }
            api.openWin({
                name: 'win-class-answerCard-pad',
                url: 'win-class-answerCard-pad.html',
                pageParam: {
                    xitiinfo: xitiinfo,
                    answerArr: answerArr,
                    complete: vm.complete,
                    accuracy: accuracy
                },
                reload: false,
                slidBackEnabled: false,
                animation: {
                    subType: 'from_left'
                }
            });
        } else {
            getHeart('keyback');
        }
    }


    //跳转下一个frame
    function next() {
        if (vm.index + 1 == xitiinfo.length) {
            answerCard();
        } else {
            vm.index++;
            api.setFrameGroupIndex({
                name: 'xtzFrameGroup',
                index: vm.index,
                scroll: true
            });
        }
    }

    function ProcessRet1(ret, type) {
        if (ret.status == '1') {
            //等待状态
            if (type == 'keyback') {
                if (vm.complete == 0) {
                    api.toast({
                        msg: '题组答题中，不能退出哟',
                        duration: 2000,
                        location: 'bottom'
                    });
                } else {
                    api.closeToWin({
                        name: 'win-interaction-home-pad'
                    });
                }
            }
        } else if (ret.status == '2' || ret.status == '0') {
            clearTimeout(heartXtz);
            vm.complete = 1;
            vm.title = '答题结果';
            if ($api.getStorage('card') == 'false') {
                //如果用户未查看答题卡，直接从此处跳转，如果正查看 ，修改界面显示即可
                answerCard(type);
            } else {
                accuracy = 0;
                for (var i = 0; i < accuracyArr.length; i++) {
                    if (accuracyArr[i] != 0) {
                        accuracy = Number(accuracy) + Number(accuracyArr[i]);
                    }
                }

                api.sendEvent({
                    name: 'finishDT',
                    extra: {
                        accuracy: accuracy
                    }
                });
            }
        } else {
            clearTimeout(heartXtz);
            api.toast({
                msg: '答题异常',
                duration: 2000,
                location: 'bottom'
            });
            setTimeout(function () {
                api.closeToWin({
                    name: 'win-interaction-home-pad'
                });
            }, 1500);
        }
    }

    async function getAIbstAndSetNum() {
        for (var i = 0; i < answerArr.length; i++) {
            if (answerArr[i] == '' ) {
               api.toast({
                   msg:'答完全部组题后才能做AI变式题哦~'
               })
               return;
            }
        }
        
        if (api.pageParam.xitiinfo[vm.current].zsd === '无') {
            api.toast({
                msg: '该题暂无AI变式题',
            })
            return;
        }
        const apiObj = new GridOpenApi(UrlDomain, source, version)
        const ret = await new Promise((resolve, reject) => {
            apiObj.SetAuthToken($api.getStorage('token'));
            apiObj.Header({'Content-Type': 'application/json'}).Post(UrlRouter.PostPayfeeOperationLog, {
                body: $api.jsonToStr({
                    uid: $api.getStorage("uid"),
                    schoolid: $api.getStorage("schoolid"),
                    type: 'ai_push',
                    resource_id: xitiinfo[vm.current].id,  //本题的id
                    count: vm.aiPush['count'],
                    card_type: vm.aiPush['card_type'] !== undefined ? vm.aiPush['card_type'] : null,
                    ...(vm.aiPush['card_id'] !== undefined && {card_id: vm.aiPush['card_id']}),
                })
            }, function (ret, err) {
                if (ret) {
                    resolve(ret);
                } else {
                    reject(err);
                }
            });
        });
        if ((vm.aiPush.count <= 0 && ret.ret === 0 && ret.data === 'nonumber') || ret.ret === -1) {
            if ($api.getStorage('upgradeQRCode') === '1') {
                api.toast({
                    msg: '本月剩余变式题推送次数已耗尽',
                    duration: 2000,
                    location: 'bottom'
                });
            } else {
                api.openFrame({
                    name: 'number-exhausted',
                    url: '../../frame-number-exhausted.html',
                })
            }
            return
        }
        if (ret.ret === 0 && ret.data === '') {
            vm.aiPush.count -= 1;
        }
        getAIbst();
    }

    function getAIbst() {
        api.openWin({
            name: 'win_bst.html',
            url: '../AIbst/win_bst.html',
            pageParam: {
                xtid: xitiinfo[vm.current].id,
                kcid: xitiinfo[vm.current].kcid,
            },
            bounces: false
        });
    }

</script>
</html>